body {
    background-color: rgb(241 245 248);
}

.heading {
    margin-left: 50%;
    margin-right: auto;
    margin-top: 10vh;
    word-spacing: 1px;
    letter-spacing: 2px;
}

hr {
    display: inline-block;
    width: 100px;
    margin-left: 50vw;
    margin-right: auto;
    border-width: 3px;
    border-style: solid;
    color: rgb(73 165 233);
}