@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@1&display=swap');

* {
  margin: 0;

}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.top {
  height: 49.9rem;
  background-color: rgb(241 242 245);
}

.logoandtext img {
  margin-top: 200px;
  margin-left: 170px;
}

.logoandtext p {
  width: 578px;
  margin-left: 200px;
  font-size: 30px;
  color: rgb(28 30 33);

}

.top img {
  width: 300px;
}

.form-container {
  border: none;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%),
    0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
  height: 335px;
  width: 400px;
  margin-left: 850px;
  margin-top: -210px;
  padding: 20px 0 28px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.form-container a:link {
  text-decoration: none;
  color: rgb(26 119 242);
}

.form-container hr {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(237 238 240);
}

.email {
  margin: 10px;
  margin-top: -3px;
  width: 20rem;
  padding: 15px;
  border: 1px solid rgb(222 223 226);
  border-radius: 5px;
}

::placeholder {
 color: rgb(153 155 163);
 font-size: medium;
}

.password {
  border: 1px solid rgb(222 223 226);
  border-radius: 5px;
  margin-top: 0;
  margin-left: 10px;
  width: 20rem;
  padding: 15px;
}

button {
  border: 2px solid rgb(26 119 242);
  border-radius: 5px;
  background-color: rgb(26 119 242);
  color: rgb(255 255 255);
  font-size: large;
  font-weight: bold;
  width: 22.2rem;
  padding: 13px;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 16px;
}

.new {
  margin-top: -5px;
  width: 250px;
  margin-left: 4.5rem;
  border: none;
  background-color: rgb(67 183 42);
}

.forget {
  margin-left: 120px;
}

hr {
  margin-top: 25px;
  margin-bottom: 25px;
}



.bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
}